.timeline-container {
    margin: 50px 0;
    text-align: center;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-item {
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.timeline-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.timeline-item p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #555;
}
